.demand{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .item{
        width: 24%;
        .title{
            span{
                display: inline-block;
                &:nth-of-type(1){
                    padding: 1px 3px;
                    border-radius: 5px;
                }
                &:nth-last-of-type(1){
                    color: #ccc;
                    margin-left: 5px;
                }
            }
        }
        .repair{
            padding: 10px;
            box-sizing: border-box;
            .coder{
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px;

                .show{
                    font-size: 10px;
                    color: #1890ff;
                    cursor: pointer;
                }
                .principal{

                }
            }
        }
    }
}
